[submodule "middleware"]
	path = middleware
	url = https://github.com/fiskaltrust/middleware
	branch = user/ske/mauifixes
[submodule "possystem-api"]
	path = possystem-api
	url = https://github.com/fiskaltrust/service-possystem-api
	branch = POS-Core

